1: Basic of Python (Working with Operator,Numbers, String, Variables And Data Typeffffff )

**Arithmatic Operators (+,-,*,/,//,**,%)**

In [2]:
9

9

In [3]:
9+9  #Addition

18

In [4]:
9-9  #substraction

0

In [5]:
9*9  #multiplication

81

In [6]:
9/9  #float dividation

1.0

In [7]:
9//9  #int division

1

In [8]:
2**3  #Power

8

In [9]:
(3*6)-8+3  #Playing with BODMAS

13

In [10]:
3*6-(8+3)  #BODMAS

7

In [11]:
9%9  #MODULE

0

**Comparison Operators (<,>,==,!=,>=,<=)

In [12]:
3<5  #less than

True

In [13]:
3>5  #greater than

False

In [14]:
3==5  #equal to

False

In [15]:
3!=5  #not equal to

True

In [16]:
3<=5  #less than or equal to

True

In [17]:
3>=5  #greater than or equal to

False

2:Working With Text 
text = String

In [18]:
Welcome to Devils Kitchen  #Err bcoz of not written in quotes

SyntaxError: invalid syntax (2203504929.py, line 1)

In [19]:
'Welcome to Devils Kitchen'  #String using single quot

'Welcome to Devils Kitchen'

In [20]:
"Welcome to Devils Kitchen"  #String using Double quot

'Welcome to Devils Kitchen'

In [21]:
'''Welcome to Devils Kitchen'''  #String using triple quot

'Welcome to Devils Kitchen'

In [22]:
'Welcome 
to 
Devils Kitchen'  #Err bcoz of multi line strg isn't written in sinle quotes

SyntaxError: unterminated string literal (detected at line 1) (2785735603.py, line 1)

In [23]:
''Welcome 
to 
Devils Kitchen''  #Err bcoz of multi line strg isn't written in double quotes

SyntaxError: invalid syntax (810360944.py, line 1)

In [26]:
'''Welcome
to Devils
Kitchen'''  #Here we can use triple qoute for multi line quote

'Welcome\nto Devils\nKitchen'

Python Variables
(variables = identifiers = objects)
Rules - 
        1.Variables are case sensitive
        2.Cannot start with digits
        3.Special characters are not allowed
        4.Keyword are not allowed as variable
        5.Only _ is allowed
Syntax - 
        Variable  = value

In [1]:
a = 5 #(varibale = value)
a

5

In [21]:
a = 5 #variables are case sensitive
A

NameError: name 'A' is not defined

In [2]:
1 = v #variable can not start with number
1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (15723494.py, line 1)

In [14]:
z@ = 10  #special symbol is not allowed
z@

SyntaxError: invalid syntax (3797964804.py, line 1)

In [5]:
v1 = 5 #in variable can use number but not in start
v1

5

In [15]:
v_ = 10  #on _ is allowed as other symbol
v_

10

In [22]:
a, b = 10, 20 #can as many value as many variable
a,b

(10, 20)

**Data types in python
Data types - 
            1.Int (value without decimal)
            2.Float (value with decimal)
            3.String (Text )
            4.Bool 
            5.Complex

In [7]:
i= 5  #int data type denotes number
type(i)

int

In [8]:
f = 1.2  #float data type defines decimals
type(f)

float

In [9]:
s = 'Jay Shri Ram'  #str data type defines text data
type(s)

str

In [1]:
b = True  #bool data type defines condition
type(b)
b1 = False
type(b1)

bool

In [2]:
c = 10+20j #complex data type (real part + imaginary part)
type(c)

complex

In [3]:
c.real

10.0

In [5]:
d= 12+11j  #here second complex no
c + d  #add c and d. Real with real and imag with imag

(22+31j)

**Keywords

In [18]:
import keyword  #Here are some keywords would not define as variable
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [19]:
len(keyword.kwlist)  #there are 35 keywords in python

35

In [20]:
For = 10  #here for is the keyword but it is case sensitivev (for = 5 : is not allowed)
For       #but (For = 5 : is allowed) beacause python is case sensitive language

10

**print()- function

In [30]:
a, b = 10, 20 
c=a+b
d=a-b
e=a/b
f=a*b 
c  #here we called all variables but in last result of f is showing
d  
e
f

200

In [31]:
print(c)
print(d)#thats why we use print function
print(e)
print(f)

30
-10
0.5
200

!! Type Casting !!

In [6]:
int(12.6) #float to integer

12

In [4]:
int(12.6,13.12) #can pass only one argument for type casting

TypeError: 'float' object cannot be interpreted as an integer

In [12]:
int(1+2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [3]:
int(True) #int to bool

1

In [7]:
True+True+True

3

In [15]:
int('10') #only possible when string contains digits

10

In [14]:
int('Ram') #not possible

ValueError: invalid literal for int() with base 10: 'Ram'

In [13]:
float(12) #int to float

12.0

In [9]:
float(False) #bool to float

0.0

In [16]:
float(1+2j) #complex to float casting not possible

TypeError: float() argument must be a string or a real number, not 'complex'

In [17]:
float('10') #only possible when string contains number

10.0

In [21]:
float('str') #not possible

ValueError: could not convert string to float: 'str'

In [10]:
str(12) #int to str

'12'

In [18]:
str(12.6) #float to str

'12.6'

In [19]:
str(True) #bool to str

'True'

In [20]:
str(1+2j) #complex to str

'(1+2j)'

In [27]:
complex(10)

(10+0j)

In [28]:
complex(10,20)

(10+20j)

In [29]:
complex(10,12,20)

TypeError: complex() takes at most 2 arguments (3 given)

In [33]:
complex(3,4)
complex(3.3,4.4)
complex('10')
complex(True,False)
    print(complex(3,4),
        complex(3.3,4.4),
        complex('10'),
        complex(True,False))

(3+4j) (3.3+4.4j) (10+0j) (1+0j)

In [34]:
bool(1) #int to bool

True

In [35]:
bool(0)

False

In [36]:
bool()

False

In [37]:
bool(1+2j) #complex to bool

True

In [38]:
bool(0+0j)

False

In [39]:
bool(3.2) #float to bool

True

In [40]:
bool('ten') #str to bool

True

In [1]:
bool('10')

True